@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* > * {
    font-family: 'Lato', sans-serif;
}

body {
    background: linear-gradient(102.87deg, rgba(86, 158, 194, 0.2) 28.76%, rgba(163, 196, 213, 0.2) 44.56%, rgba(230, 230, 230, 0.2) 54.38%, rgba(198, 176, 191, 0.2) 64.19%, rgba(159, 109, 144, 0.2) 81.09%), #FFFFFF;
}

.logo {
    font-family: 'Comfortaa', cursive;
}

.heading {
    background: -webkit-linear-gradient(135.27deg, #569EC2 5.8%, #9F6D90 99.72%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}