@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&display=swap');


.container {
    @apply flex min-h-screen w-screen flex-col relative lg:mx-auto lg:flex-row;
}

.nav {
    @apply w-[90%] m-5 mx-auto lg:w-[250px] lg:fixed lg:min-h-screen lg:top-0 lg:left-0 lg:mx-5 lg:flex lg:flex-col lg:justify-center lg:items-center ;
}

.glass {
    background: rgba(255, 255, 255, 0.4);
    border-radius:  16px;
    box-shadow: 0 4px 30px #4747470b;
    backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    @apply border-4 border-gray-50 w-[90%] min-h-[100%] rounded-2xl mx-auto p-5 overflow-hidden mb-5 lg:w-full lg:ml-[290px] lg:rounded-none lg:border-0 lg:mb-0;
}

.navitem {
    @apply flex gap-5 items-center p-4 my-5 rounded-xl 
}

.navitem.active {
    @apply opacity-100 border-r-2 border-r-pink-500;
}

.textbox {
    @apply relative border-0 px-3 py-3 rounded-xl w-full max-w-[300px] shadow-md text-sm text-gray-600 bg-white lg:text-base lg:px-4 lg:py-3 lg:max-w-[200px];
    @apply focus:outline-none;
}

.inputbox {
    @apply relative border-0 px-3 py-3 rounded-xl w-full max-w-[300px] shadow-md text-sm text-gray-600 bg-white lg:text-base lg:px-4 lg:py-3 lg:max-w-[200px];
    @apply focus:outline-none;
    @apply cursor-pointer;
}